VUE_APP_NAME="Anibal Copitan"
VUE_APP_TITLE="Anibal Copitan - Web Mobile Desktop Solutions – Tech Innovator"
VUE_APP_SUB_TITLE="🌐 Web 📱 Mobile 💻 Desktop Solutions | 🚀 Tech Innovator"
VUE_APP_BASE_URL="https://anibalcopitan.com"
VUE_APP_URL_BLOG="https://blog.anibalcopitan.com"
VUE_APP_DESCRIPTION="Anibal Copitan Te ayudo a crear herramientas digitales para alcanzar tus metas as FullStack developer I give You the best way to solve Your project"